<div
  class="w-1/4 flex flex-col py-10 px-4 m-4 bg-zinc-100 rounded-lg shadow-md overflow-y-auto"
>
  <div class="pl-[20px] mb-4">
    <span class="font-bold text-3xl text-gray-800">目录</span>
  </div>
  {{ $data := newScratch }}
  {{ $data.Set "last_level" -1 }}
  <div class="toc text-gray-500">
    {{ range $header := . }}
      {{ $last_level := $data.Get "last_level" }}
      {{ range findRE "[2-5]" $header 1 }}
        {{ $next_level := (int .) }}
        {{ if eq $last_level -1 }}
          <ul class="toc-h{{- . -}}">
        {{ else if gt $next_level $last_level }}
          {{ range seq (add $last_level 1) $next_level }}
            <ul class="toc-h{{- . -}}">
          {{ end }}
        {{ else if lt $next_level $last_level }}
          {{ range seq (add $next_level 1) $last_level }}
            </ul>
          {{ end }}
        {{ end }}
        <li class="text-base cursor-pointer hover:text-indigo-500 hover:font-semibold">
          <span>
            {{- $header | plainify | htmlUnescape -}}
          </span>
        </li>
        {{ $data.Set "last_level" $next_level }}
      {{ end }}
    {{ end }}
  </div>
</div>
